<div class="container">
    <div class="logo">
      <img src="./assets/logo.png" alt="Logo da empresa">
    </div>
    <div class="form">
      <div class="center">
        <h1>Registration</h1>
      </div>
      <div class="mb-3">
        <input class="form-control" name="name" type="name" [(ngModel)]="model.username" placeholder="Username" required>
      </div>
      <div class="mb-3">
        <input class="form-control" name="email" [(ngModel)]="model.email" type="email" placeholder="Email" required>
      </div>

      <div class="mb-3">
          <input class="form-control" name="password" [(ngModel)]="model.password" type="password" placeholder="Password" required />
          <input class="form-control" name="RepPassword" [(ngModel)]="model.rep_password" type="password" placeholder="Repeat Password" required />
        </div>
        <div class="mb-3">
            <input class="form-control" name="birthdate" [(ngModel)]="model.birthday" type="date" placeholder="Birthdate" required>
          </div>
      </div>
      <div class="bii">
        <button class="btn btn-primary bi bi-box-arrow-in-right" name="gravar" (click)="register()"> Register</button>
      </div>
      <div class="link_register">
        <p>Already have an account? <a (click)="goToLogin()">Sign in here</a></p>
      </div>
</div>